<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incident - New Record</title>
    <link rel="stylesheet" href="static/create_ticket.css">
</head>
<body>
 <div class="main-layout">
  <div class="sidebar">
     <div class="user-info">
       <div style="display:flex;align-items:center;gap:7px;">
         <!-- <img src="https://img.icons8.com/ios-filled/40/159b9b/user.png" alt="User" style="width:22px;height:22px;" /> -->
         <span style="font-weight:700;">Ticket Creations</span>
       </div>
       <div style="margin-top:6px;font-size:13px;">
         <span>Welcome</span><br/>
         <span>{{ request.session.name|default:request.session.username }}</span>
         <span style="color:#e2fefd; font-weight:600;"></span>
       </div>
     </div>
     <nav class="sidebar-nav">
       <a href="#" class="nav-item">Overview</a>
       <a href="{% url 'dashboard' %}" class="nav-item">Tickets</a>
        {% if request.session.role == 'admin' %}
       <li><a href="{% url 'user_management' %}" class="nav-item">User Management</a></li>
       {% endif %}
       <a href="{% url 'masterdata_overview' %}" class="nav-item active">Master data</a>
       <a href="#" class="nav-item">Reports</a>
     </nav>
    </div>
    <div class="main-content">
        <a href="{% url 'master_data' %}"><button type="button" class="submit-btn">School Details</button></a>
        <button type="button" class="submit-btn">Caller Details</button>
        <a href="{% url 'group_details' %}"><button type="button" class="submit-btn">Group Details</button></a>
    </div>
 </div>
</body>
</html>