body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #244855, #0b95b4);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: #fff;
  width: 420px;
  padding: 40px 35px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #4c76e0;
  font-weight: 600;
  margin-bottom: 25px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #555;
  margin-top: 18px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f7f7f7;
  font-size: 15px;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #00b4db;
  background-color: #fff;
  outline: none;
}

button {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  border: none;
  background-color: #4c76e0;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #385bcb;
}

a {
  color: #4c76e0;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 500;
}

a:hover {
  color: #2a47a0;
}

form a {
  display: inline-block;
  margin-top: 10px;
}
/* 
p {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-top: 20px;
} */

@media (max-width: 500px) {
  form {
    width: 90%;
    padding: 30px 25px;
  }
}


.alert {
    padding: 12px 15px;
    border-radius: 6px;
    margin-bottom: 12px;
    font-weight: 500;
}

/* SUCCESS */
.alert.success {
    background-color: #d4f4dd;
    color: #0f5132;
    border-left: 5px solid #198754;
}

/* ERROR */
.alert.error {
    background-color: #f8d7da;
    color: #842029;
    border-left: 5px solid #dc3545;
}

/* WARNING */
.alert.warning {
    background-color: #fff3cd;
    color: #664d03;
    border-left: 5px solid #ffc107;
}

/* INFO */
.alert.info {
    background-color: #cff4fc;
    color: #055160;
    border-left: 5px solid #0dcaf0;
}
