<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incident - New Record</title>
    <link rel="stylesheet" href="static/master_data.css">
</head>
<body>
 <div class="main-layout">
  <div class="sidebar">
     <div class="user-info">
       <div style="display:flex;align-items:center;gap:7px;">
         <!-- <img src="https://img.icons8.com/ios-filled/40/159b9b/user.png" alt="User" style="width:22px;height:22px;" /> -->
         <span style="font-weight:700;">Ticket Creations</span>
       </div>
       <div style="margin-top:6px;font-size:13px;">
         <span>Welcome</span><br/>
         <span>{{ request.session.name|default:request.session.username }}</span>
         <span style="color:#e2fefd; font-weight:600;"></span>
       </div>
       <a href="{% url 'logout' %}" class="logout-icon-btn"></a>
     </div>
     <nav class="sidebar-nav">
       <a href="#" class="nav-item">Overview</a>
       <a href="{% url 'dashboard' %}" class="nav-item">Tickets</a>
        {% if request.session.role == 'admin' %}
       <li><a href="{% url 'user_management' %}" class="nav-item">User Management</a></li>
       {% endif %}
       <a href="{% url 'master_data' %}" class="nav-item active">Master data</a>
       <a href="#" class="nav-item">Reports</a>
     </nav>
    </div>
    <!-- <div class="main-content">
        <a href="{% url 'school_details' %}"><button type="button" class="submit-btn">School Details</button></a>
  
        <a href="{% url 'group_details' %}"><button type="button" class="submit-btn">Group Details</button></a>
         <div class="tab-container">
          <a href="{% url 'school_details' %}"><div class="tab school">
              School Details
          </div></a>
          <a href="{% url 'group_details' %}"><div class="tab group">
              Group Details
          </div></a>
      </div>

    </div> -->

    <div class="main-content">
  <div class="button-card-group">
    <a href="{% url 'school_details' %}" class="card-btn">
      <div class="card-btn-content">
        <span>School Details</span>
      </div>
    </a>
    <a href="{% url 'group_details' %}" class="card-btn">
      <div class="card-btn-content">
        <span>Group Details</span>
      </div>
    </a>
  </div>
</div>

 </div>
</body>
</html>