{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incident - New Record</title>
    <link rel="stylesheet" href="{% static 'master_data.css' %}">
</head>
<body>
 <div class="main-layout">
  <div class="topbar">
    <div class="topbar-brand">Ticket Management</div>
    <nav class="topbar-nav">
        <a href="#">Overview</a>
        <a href="{% url 'dashboard' %}">Tickets</a>
        {% if request.session.role == 'admin' %}
            <a href="{% url 'user_management' %}">User Management</a>
            <a href="{% url 'master_data' %}"  class="active">Master Data</a>
        {% endif %}
        <a href="#">Reports</a>
    </nav>
    <div class="topbar-user">
        <span>Welcome, {{ request.session.name|default:request.session.username }}</span>
        <a href="{% url 'logout' %}">
                <button class="logout-btn" title="Logout"></button>
            </a>
    </div>
</div>
 

    <div class="main-content">
  <div class="button-card-group">
    <a href="{% url 'school_details' %}" class="card-btn">
      <div class="card-btn-content">
        <span>School Details</span>
      </div>
    </a>
    <a href="{% url 'group_details' %}" class="card-btn">
      <div class="card-btn-content">
        <span>Group Details</span>
      </div>
    </a>
  </div>
</div>

 </div>
</body>
</html>