<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Master Data</title>
    <link rel="stylesheet" href="static/school_details.css">
</head>
<body>
<div class="main-layout">
  <div class="sidebar">
     <div class="user-info">
       <div style="display:flex;align-items:center;gap:7px;">
         <span style="font-weight:700;">Ticket Creations</span>
       </div>
       <div style="margin-top:6px;font-size:13px;">
         <span>Welcome</span><br/>
         <span>{{ request.session.name|default:request.session.username }}</span>
         <span style="color:#e2fefd; font-weight:600;"></span>
       </div>
     </div>
     <nav class="sidebar-nav">
       <a href="#" class="nav-item">Overview</a>
       <a href="{% url 'dashboard' %}" class="nav-item">Tickets</a>
       <a href="{% url 'user_management' %}" class="nav-item">User Management</a>
       <a href="{% url 'master_data' %}" class="nav-item active">Master data</a>
       <a href="#" class="nav-item">Reports</a>
     </nav>
    </div>

    <div class="main-content">
        <form action="{% url 'school_details' %}" method="post">
            {% csrf_token %}
        <div class="user-management">

          {% if messages %}
            {% for message in messages %}
              <div style="background-color:#aef3ae; color:#077f17; padding:10px; border-radius:5px; margin-bottom:10px; font-weight:500;">
                {{ message }}
              </div>              
            {% endfor %}
          {% endif %}
          <div class="create-user-container">
                <a href="{% url 'school_add' %}">
              <button type="button" class="create-user">+ Add details</button></a>
          </div>
           <fieldset class="user-fieldset">
            <legend>School Details</legend>
   
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for datas in data %}
              <tr>
                <td>{{ datas.name }}</td>
                <td>{{ datas.code }}</td>
                <td>{{ datas.email }}</td>
                <td>{{ datas.phone }}</td>
                <td class="actions">
                  <a href="{% url 'school_edit' datas.id %}">
                  <img src="https://img.icons8.com/ios-glyphs/18/edit.png" alt="Edit"></a>
                  <a href="{% url 'school_delete' datas.id %}">
                  <img src="https://img.icons8.com/ios-glyphs/18/trash.png" alt="Delete"></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
           </fieldset>
        </div>
        </form>
      </div>
    </div>

 </div>
</body>
</html>