{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add details- Master Data</title>
    <link rel="stylesheet" href="{% static 'create_user.css' %}">
</head>
<body>
<div class="main-layout">
 <div class="topbar">
    <div class="topbar-brand">Ticket Management</div>
    <nav class="topbar-nav">
        <a href="#">Overview</a>
        <a href="{% url 'dashboard' %}">Tickets</a>
        {% if request.session.role == 'admin' %}
            <a href="{% url 'user_management' %}">User Management</a>
            <a href="{% url 'master_data' %}"  class="active">Master Data</a>
        {% endif %}
        <a href="#">Reports</a>
    </nav>
    <div class="topbar-user">
        <span>Welcome, {{ request.session.name|default:request.session.username }}</span>
        <a href="{% url 'logout' %}">
                <button class="logout-btn" title="Logout"></button>
            </a>
    </div>
</div>


    <div class="main-content">
        <div class="content-area">
            <form action="{% url 'school_add' %}" method="post">
                {% csrf_token %}
        <div class="create-user">
          {% if messages %}
            {% for message in messages %}
              <div style="background-color:#ffcccc; color:#f05454; padding:10px; border-radius:5px; margin-bottom:10px; font-weight:500;">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <fieldset class="create-user-fieldset">
            <legend>Add Details</legend>
           <div class="form-row">
            <div class="form-field-group">
                <label for="name">Name<span class="required">*</span></label>
                <input type="text" placeholder="Enter school name" name="name" required>
            </div>
            <div class="form-field-group">
                <label for="name">Code<span class="required">*</span></label>
                <input type="text" placeholder="Enter school code" name="code" required>
            </div>
            <div class="form-field-group">
                <label for="email">Email id<span class="required">*</span></label>
                <input type="email" placeholder="Enter school email id" name="email" required>
            </div>
             <div class="form-field-group">
                <label for="phone">Phone<span class="required">*</span></label>
                <input type="text" name="phone" pattern="\d{10}" maxlength="10" title="Enter a 10-digit phone number" placeholder="Enter school number" required>
              </div>
        
      
            </fieldset>
          <div class="form-buttons">
            <button type="reset" class="reset-btn">Reset</button>
            <a href="{% url 'school_details' %}"><button type="submit" class="create-btn">Submit</button></a>
          </div>
        </div>
        </div>
        </form>
      </div>
    </div>

 </div>
</body>
</html>