{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Master Data</title>
    <link rel="stylesheet" href="{% static 'school_details.css' %}">
</head>
<body>
<div class="main-layout">
 <div class="topbar">
    <div class="topbar-brand">Ticket Management</div>
    <nav class="topbar-nav">
        <a href="#">Overview</a>
        <a href="{% url 'dashboard' %}">Tickets</a>
        {% if request.session.role == 'admin' %}
            <a href="{% url 'user_management' %}">User Management</a>
            <a href="{% url 'master_data' %}"  class="active">Master Data</a>
        {% endif %}
        <a href="#">Reports</a>
    </nav>
    <div class="topbar-user">
        <span>Welcome, {{ request.session.name|default:request.session.username }}</span>
        <a href="{% url 'logout' %}">
                <button class="logout-btn" title="Logout"></button>
            </a>
    </div>
</div>

    <div class="main-content">
        <form action="{% url 'school_details' %}" method="post">
            {% csrf_token %}
        <div class="user-management">

          {% if messages %}
            {% for message in messages %}
              <div style="background-color:#aef3ae; color:#077f17; padding:10px; border-radius:5px; margin-bottom:10px; font-weight:500;">
                {{ message }}
              </div>              
            {% endfor %}
          {% endif %}
          <div class="create-user-container">
                <a href="{% url 'school_add' %}">
              <button type="button" class="create-user">+ Add details</button></a>
          </div>
           <fieldset class="user-fieldset">
            <legend>School Details</legend>
   
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for datas in data %}
              <tr>
                <td>{{ datas.name }}</td>
                <td>{{ datas.code }}</td>
                <td>{{ datas.email }}</td>
                <td>{{ datas.phone }}</td>
                <td class="actions">
                  <a href="{% url 'school_edit' datas.id %}">
                  <img src="https://img.icons8.com/ios-glyphs/18/edit.png" alt="Edit"></a>
                  <a href="{% url 'school_delete' datas.id %}">
                  <img src="https://img.icons8.com/ios-glyphs/18/trash.png" alt="Delete"></a>
                  <a href="mailto:{{ datas.email }}">
                  <img src="https://img.icons8.com/ios-glyphs/18/new-post.png" alt="Email"></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
           </fieldset>
        </div>
        </form>
      </div>
    </div>

 </div>
</body>
</html>